<html>
	<head>
		<title>
		Login: SNATA
		</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
	</head>
	<body>
		<br>
		<br>
		<h2>
			How to request your data from Snapchat:
		</h2>
        <br>
        <div class="image1">
        <h3>
            <b>Step 1:</b> Log into <a href="https://accounts.snapchat.com/accounts/login" target="_blank">https://accounts.snapchat.com</a>
            <br />
            <br />
            <form action="https://accounts.snapchat.com/accounts/login" target="_blank">
                <button class="button-27" type="submit" role="button">LOG INTO SNAPCHAT</button>
            </form>
            <br>
            <b>Step 2:</b> Click on 'MY DATA'
            <br>
            <br>
            <img src="{{ url_for('static', filename='css/step1.png') }}" width="50%">
            <br>
            <br>
            <br>
            <b>Step 3:</b> Scroll to the bottom of this page
            <br>
            <br>
            <img src="{{ url_for('static', filename='css/step2.png') }}" width="50%">
            <br>
            <br>
            <br>
            <b>Step 4:</b> Unselect option to filter export by date range
            <br>
            <br>
            <img src="{{ url_for('static', filename='css/step3.png') }}">
            <br>
            <br>
            <br>
            <b>Step 5:</b> Enter your Snapchat email address and click Submit Request
            <br>
            <br>
            <img src="{{ url_for('static', filename='css/step4.png') }}">
            <br>
            <br>
            <img src="{{ url_for('static', filename='css/step5.png') }}" width="50%">
            <br>
            <br>
            <br>
            Once you have submitted your request, you will receive an email from Snapchat with a link to download your data. 
            <br>
            <br>
            It should look like this:
            <br>
            <br>
            <img src="{{ url_for('static', filename='css/step6.png') }}" width="50%">
            <br>
            <br>
            <br>
            Next, download your .zip file and upload it to <b>SNATA</b>!

        </h3>
    </div>
		<div class="image">
			<br />

		</div>
        <form action="{{ url_for('site') }}">
            <button class="button-27" type="submit" role="button">GO BACK</button>
        </form>
		<br>
		

	</body>

</html>
