<html>
   <head>
       <title>
       Login: SNATA
       </title>
   <script src="login.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
   </head>
   <body>
       <br>
       
       <br>
       <!-- <div class="image">
           <img src="{{ url_for('static', filename='css/snapchat_bounce.gif') }}" width=400 height=320 >
       </div> -->
       <div class="horiz">
        
        <br>
        <br>
        <br>
      </div>
       <div class="form-contatiner">
        <h1>
          SNATA
        </h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
        <ul class="list centered">
            <li>Login</li>
            <li>{{ form.username }}</li>
            <li>{{ form.password }}</li>
            <li>
                {{ form.submit }}
            </li>
            <li>
                <a href="{{url_for('signup')}}">Sign Up</a>
            </li>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
            </ul>
        </form>
       </div>
       <br>
       <br>
       
      
      
      
 
   </body>
 
</html>
