<html>
   <head>
       <title>
       Login: SNATA
       </title>
   <script src="login.js"></script>
   <link rel="stylesheet" href="login.css">
   </head>
   <body>
       <br>
       <h1>
           SNATA
       </h1>
       <br>
       <div class="image">
           <img src="snapchat_bounce.gif" width=400 height=320 >
       </div>
      
       <div class="form-contatiner">
           <ul class="list centered">
               <li>Login</li>
               <li><input type="text" name="User Name" placeholder="snap.user"></li>
               <li><input type="text" name="Password" placeholder="........."></li>
               <li>
                   <button class="button-27" type="submit" role="button">LOG IN</button>
               </li>
               <li></li>
              
           </ul>
       </div>
      
      
      
 
   </body>
 
</html>
