<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNATA</title>
    <link rel="stylesheet" href="static/css/site2.css" type="text/css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            {% for key, value in data.items() %}
                {% if value is string %}
                    ['{{ key }}', '{{ value }}'],
                {% else %}
                    ['{{ key }}', {{ value }}],
                {% endif %}
            {% endfor %}
        ]);

        var options = {
            title: 'My Communication Methods',
            is3D: true,
            backgroundColor: '#FFFC33',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
</head>
<body>
    <div class="container">
        <div class='post'>
            
            <section>
                <form action="{{url_for('logout')}}" target="_blank">
                    <button class="button-28" type="submit" role="button">LOG OUT</button>
                </form>
                <div class="image">
                <h2>👋 Hello {{ post[0]['snap_username'] }}<br>Let's take a peek at your data! 👋</h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>Take a 👀 🔙 to when you created your account</h2>
                <h2>{{ post[0]['creation_time'] }}</h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>Do you remember when you added <b>{{ first_friend_name }}</b> (@{{ first_friend_username }})?</h2>
                <h2>They were your <b>first</b> added friend!</h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>After <b>{{ first_friend_name }}</b>, <br>
                    the <b>next</b> additions to your network were...</h2>
                {% for friend in first5_friends %}
                    <h2>@{{ friend }}</h2>
                {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                {% for story_string in story_string_list %}
                    <h2>
                        {{ story_string }}
                    </h2>
                {% endfor %}
                <h2>Keep telling <b>your story!</b></h2>
                </div>
            </section>


            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>It looks like you are inspired by those who <b>create</b>...</h2>
                <h2>Here are your favorite creators from the <b>Discovery Page</b>!</h2>
                <h2>You've viewed...</h2>
                {% for story in story_array %}
                    <h2>{{ story }}</h2>
                {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>These are a few <b>stories</b> you enjoy the most...</h2>
                {% for story in story_array %}
                    <h2>
                        {{ story }}
                    </h2>
                {% endfor %}
                </div> 
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>According to us, you were recently in</h2>
                <h2><b>{{ post[0]['recent_location'] }}📍</b></h2>
                <h2>and can frequently be found in</h2>
                <h2><b>{{ freq_locs[0] }}</b></h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                    <h2>Here are some of your top 10 sayings...</h2>
                    {% for saying in top10_text %}
                        <h2>{{ saying }}</h2>
                    {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                    <h2> This is how you like to communicate most on Snap...</h2> 
                    <div class="image" id="piechart_3d" style="width: 900px; height: 500px; background-color: #FFFC33; margin: 0 auto;"></div>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2> Here is who snaps you the most...</h2> 
                {% for received in most_received %}
                    <h2>{{ received }}</h2>
                {% endfor %}
                </div>
            </section>

            <section>
                {% for breakdown in breakdown_list %}
                    <h2>{{ breakdown }}</h2>
                {% endfor %}
            </section>

            <section>
                {% for engagement in engagement_list %}
                    <h2>{{ engagement }}</h2>
                {% endfor %}
            </section>

            <section>
                <h1>Here are number of topics you've demonstrated interest in</h1>
                <h1>{{ post[0]['num_of_interests'] }}</h1>
            </section>

            <section>
                <h1>Here's the link to your first memory</h1>
                <h3>{{ post[0]['link_to_memory'] }}</h3>
                <h2>{{ post[0]['first_memory_string'] }}</h2>
            </section>

            <section>
                <h2>{{ post[0]['name_changes'] }}</h2>
            </section>

            <section>
                <h1>You have subscribed to a total of {{ post[0]['total_subs'] }} users!</h1>
                <h1>The amount of stories you are subscribed to: {{ post[0]['stories'] }}</h1>
                <h1>The amount of publishers you are subscribed to: {{ post[0]['publishers'] }}</h1>
                <h1>The amount of public users you are subscribed to: {{ post[0]['public_users'] }}</h1>
            </section>

            <section>
                <h1>You have sent a total of {{ post[0]['total_snaps_sent'] }} snaps</h1>
                <h1>You have received a total of {{ post[0]['total_snaps_received'] }} snaps</h1>
                <h1>You have saved a total of {{ post[0]['total_snaps_saved'] }} snaps</h1>
            </section>

        </div>
    </div>

</body>

</html>