<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SNATA</title>
    <link rel="stylesheet" href="static/css/site2.css" type="text/css">
</head>
<body>
    <div class="container">
        <div class='post'>
            
            <section>
                <form action="{{url_for('logout')}}" target="_blank">
                    <button class="button-28" type="submit" role="button">LOG OUT</button>
                </form>
                <div class="image">
                <h2>👋 Hello {{ post[0]['snap_username'] }}<br>Let's take a peek at your data! 👋</h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>Take a 👀 🔙 to when you created your account</h2>
                <h2>{{ post[0]['creation_time'] }}</h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>Do you remember when you added <b>{{ first_friend[7] }}</b> (@{{ first_friend[6] }})?</h2>
                <h2>They were your <b>first</b> added friend!</h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>After <b>{{ first_friend[7] }}</b>, <br>
                    the <b>next</b> additions to your network were...</h2>
                {% for friend in first5_friends %}
                    <h2>@{{ friend[6] }}</h2>
                {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                {% for story_string in story_string_list %}
                    <h2>
                        {{ story_string }}
                    </h2>
                {% endfor %}
                <h2>Keep telling <b>your story!</b></h2>
                </div>
            </section>


            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>It looks like you are inspired by those who <b>create</b>...</h2>
                <h2>Here are your favorite creators from the <b>Discovery Page</b>!</h2>
                <h2>You've viewed...</h2>
                {% for story in story_array %}
                    <h2>{{ story }}</h2>
                {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>These are a few <b>stories</b> you enjoy the most...</h2>
                {% for story in story_array %}
                    <h2>
                        {{ story }}
                    </h2>
                {% endfor %}
                </div> 
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2>According to us, you were recently in</h2>
                <h2><b>{{ post[0]['recent_location'] }}📍</b></h2>
                <h2>and can frequently be found in</h2>
                <h2><b>{{ freq_locs[0] }}</b></h2>
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                    <h2>Here are some of your top 10 sayings...</h2>
                    {% for saying in top10_text %}
                        <h2>{{ saying }}</h2>
                    {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                    <h2> This is how you like to communicate most on Snap...</h2> 
                    {% for media in media_types %}
                        <h2>{{ media }}</h2>
                    {% endfor %}
                </div>
            </section>

            <section>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
                <div class="image">
                <h2> Here is who snaps you the most...</h2> 
                {% for received in most_received %}
                    <h2>{{ received }}</h2>
                {% endfor %}
                </div>
            </section>

        </div>
    </div>

</body>

</html>