<html>
	<head>
		<title>
		Login: SNATA
		</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
	<link rel="stylesheet" href="../static/css/site.css">
	</head>
	<body>
		<div>
			<form action="{{url_for('logout')}}">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
		</div>
		<h1>
			SNATA
		</h1>
		<div class="image">
			<h3>For detailed instructions on how to
			log in and request <br> your data from Snapchat,
			 click <a href="{{ url_for('instructions') }}">here</a>.
			</h3>
		</div>
		<h3> 
			Otherwise, upload your (.zip) file to see some <br> spectacular insights into your Snapchat data! 
		</h3>
		<div class="input">
			<form method="POST" action="" enctype="multipart/form-data">
				<input name='data_zip_file' type="file" accept=".zip"/>
				<div>
					<br>
					<form action="{{ url_for('loading') }}">
						<button id="byebutton" class="button-27" onclick="move()" type="submit" role="button">SHOW DATA</button>

						<div id="load" class="w3-container" style="display:none; width:20%; margin: auto;">
							<div class="w3-light-grey">
							  <div id="myBar" class="w3-container w3-black w3-center" style="width:0%">0%</div>
						</div>
					</form>
				</div>
			</form>
		</div>
		<div>
			<br>
			<form action="{{ url_for('query') }}">
				<h3>Already have an old zip file with us?
					<br> To the data you've previously updated,
					click the button below.<br>
					<br>
					<button class="button-27" type="submit" role="button">PREVIOUS DATA</button>
				   </h3>
			</form>
		</div>
		{% if error %}  
        	<h2 class="error"><strong>Error</strong>: {{error}}</h2> 
    	{% endif %}


	<script>
		function move() {
			document.getElementById('byebutton').style.display = "none";
			document.getElementById('load').style.display = "block";
			var elem = document.getElementById("myBar");   
			var width = 0;
			var id = setInterval(frame, 80);
			function frame() {
			if (width >= 100) {
				clearInterval(id);
			} else {
				width++; 
				elem.style.width = width + '%'; 
				elem.innerHTML = width * 1  + '%';
			}
			}
		}
		</script>

	</body>

</html>
