<html>
	<head>
		<title>
		Login: SNATA
		</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
	<link rel="stylesheet" href="../static/css/site.css">
	</head>
	<body>
		<div>
			<form action="{{url_for('logout')}}" target="_blank">
				<button class="button-28" type="submit" role="button">LOG OUT</button>
			</form>
		</div>
		<!-- 5 </br>s -->
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<h1>
			SNATA
		</h1>
		<div class="image">
			<h3>For detailed instructions on how to
			log in and request <br> your data from Snapchat,
			 click <a href="{{ url_for('instructions') }}">here</a>
			</h3>
		</div>
		<h3> 
			Otherwise, upload your (.zip) file to see some <br> spectacular insights into your Snapchat data! 
		</h3>
		<div class="input">
			<form method="POST" action="" enctype="multipart/form-data">
				<input name='data_zip_file' type="file" accept=".zip"/>
				<div>
					<br>
					<form action="{{ url_for('query') }}">
						<button class="button-27" type="submit" role="button">SHOW DATA</button>
					</form>
				</div>
			</form>
		</div>
		<div>
			<h1>Already have an old zip file with us?</h1>
			<h2>Use this to view previously uploaded data</h2>
			<form action="{{ url_for('query') }}">
				<button class="button-27" type="submit" role="button">SHOW PREVIOUS DATA</button>
			</form>
		</div>
		{% if error %}  
        	<h2 class="error"><strong>Error</strong>: {{error}}</h2> 
    	{% endif %}

	</body>

</html>
