h1 {
	text-align: center;
	font-family: "Avenir Next";
}

h2 {
	text-align: center;
	font-family: "Avenir Next";
}

.input {
	margin: auto;
	text-align: center;
	border: 3px solid #34ebdb;
	border-radius: 4px;
	background-color: white;
	width: 20%;
}

.image {
	text-align: center;
}

body {
	background-color: #EEFC32;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
	background-color: white;
	outline: 2px dashed black;
	outline-offset: -10px;
  }
  .box.has-advanced-upload .box__dragndrop {
	display: inline;
  }

.box.is-dragover {
	background-color: grey;
}

.box.is-uploading .box__input {
	visibility: none;
  }
  .box.is-uploading .box__uploading {
	display: block;
  }