h1 {
	text-align: center;
	font-family: "Avenir Next";
	font-size: 3em;
}

h2 {
	text-align: center;
	font-family: "Avenir Next";
	font-size: 1.5em;
}

h3 {
	text-align: center;
	font-family: "Avenir Next";
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

}

.input {
	margin: auto;
	text-align: center;
	border: 3px solid #34ebdb;
	border-radius: 4px;
	background-color: white;
	width: 20%;
}

.image {
	text-align: center;
}
.image1 {
	text-align: center;
	display: block;
	margin: auto;
  }

body {
	background-color: #FFFC33;
}


/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: auto;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}

.button-27 {
  display: block;
  margin: auto;
  width: 40%;
  height: 60px;
}

.button-27:disabled {
  pointer-events: none;
  opacity: 0.5;

}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Split the screen in half */
.split {
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
	left: 0;

  }
  
  /* Control the right side */
  .right {
	right: 0;

  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
	width: 150px;
	border-radius: 50%;
  }
