body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #FFFC33;
    -webkit-font-smoothing: antialiased;


    .container {
        width: 100%;
        height: 100%;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;

        section {
            display: flex;
            scroll-snap-stop: always;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
            scroll-snap-align: start;



            &:nth-of-type(1) {
                background-color: #FFFC33;
                color: #FFFC33;

            }

            &:nth-of-type(2) {
                background-color: #FFFC33;
                color: #FFFC33;
            }

            &:nth-of-type(3) {
                background-color: #FFFC33;
                color: #FFFC33;
            }

            h1, h2{
                font-family: 'Graphik', Helvetica, sans-serif; 
                color: black;
                align-self: center;
                text-align: center;
                white-space: pre-line;

            }
            

        }
    }
}